@use 'base';
@use 'layout';

.selector {

  // CIRCLES

  &__circles {
    max-width: 390px;

    margin: 0 auto;

    @include layout.flex(row, nowrap, space-between, center);

    @include layout.largeScreen() {
      max-width: 500px;

      margin: 0 auto;
    }
  }

  &__circle {
    width: 50px;
    height: 50px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;

    position: relative;

    @include layout.largeScreen() {
      width: 73px;
      height: 73px;
    }

    &--empty {
      background: linear-gradient(130.53deg, #404040 17.47%, #404040 27.71%, #B0B0B0 27.72%, #B0B0B0 36.75%, #404040 36.76%, #404040 45.49%, #B0B0B0 45.5%, #B0B0B0 54.23%, #404040 54.24%, #404040 63.27%, #B0B0B0 63.27%, #B0B0B0 71.71%, #404040 71.71%);

      &::after {
        // Línea horizontal cruz
        content: '';
        width: 62%;
        height: 4px;
        background-color: #FFFFFF;

        position: absolute;
        top: calc(50% - 2px); // Mitad del círculo - mitad altura línea
        left: calc(50% - (62% / 2)); // Mitad del círculo - mitad ancho línea

      }

      &::before {
        // Línea vertical cruz
        content: '';
        width: 4px;
        height: 62%;
        background-color: #FFFFFF;

        position: absolute;
        top: calc(50% - (62% / 2)); // Mitad del círculo - mitad altura línea
        left: calc(50% - (2px)); // Mitad del círculo - mitad ancho línea
      }
    }

    &--active {
      background-color: #f1e0bc;
      transform: scale(1.2);
    }

  }

  // Main
  &__main {
    @include layout.grid(1);
    justify-items: center;

    @include layout.largeScreen() {
      @include layout.grid(2);

      gap: 6rem;
    }
  }

  // PALETTE
  &__palette {
    margin: 2rem 0;

    justify-self: center;

    @include layout.largeScreen() {
      margin: 4rem 0;

      justify-self: flex-end;
    }

    &>div>div {
      border-radius: 10px !important;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

      padding: .2rem;
    }
  }

  // SELECTOR SAVING
  &__saving {
    @include layout.largeScreen() {
      justify-self: flex-start;
      align-self: center;
    }
  }

  &__label {
    font-weight: 700;
    margin-bottom: .5rem;
  }

  &__input-group {
    @include layout.flex(row, nowrap, flex-start, center);
    column-gap: .6rem;
  }

  &__input {
    width: 274px;
    height: 42px;
    border: 4px solid #FFFFFF;
    border-radius: 9px;

    display: flex;
    flex-shrink: 1;

    @media screen and (max-width: 390px) {
      width: 200px;
    }

    &::placeholder {
      font-size: .9rem;
      color: white;

      padding: .8rem;
    }
  }

  &__button {
    width: 67px;
    height: 42px;
    background-color: #FFFFFF;
    border-radius: 9px;

    display: inline-block;
    position: relative;

    &::after {
      // Línea horizontal cruz
      content: '';
      width: 21px;
      height: 3px;
      background-color: base.$color-primary;

      position: absolute;
      top: calc(21px - 1.5px); // Mitad del círculo - (mitad altura línea + margen del círculo)
      left: calc(33.5px - 10.5px); // Mitad del círculo - (mitad ancho línea + margen del círculo)
    }

    &::before {
      // Línea vertical cruz
      content: '';
      width: 3px;
      height: 21px;
      background-color: base.$color-primary;

      position: absolute;
      top: calc(21px - 10.5px); // Mitad alto botón - mitad altura línea
      left: calc(33.5px - 1.5px); // Mitad ancho botón - mitad ancho línea
    }
  }
}